.formBlock {
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(34, 60, 80, 0.2);
    padding: 30px;
    width: 30%;
    margin: 0 auto;

    &__title {
        text-align: center;
    }
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    &__field {
      margin: 5px 0;
    }

    &__btn {
      width: 50%;
      margin: 0 auto;
      padding: 10px
    }
}
