.user {
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(34, 60, 80, 0.2);
    padding: 30px;
    width: 25%;
    margin: 10px;
    display: flex;

    &__block {
        display: flex;
        align-items: center;
    }

    &__avatar {
        margin: 5px;
    }

    &__info {
        margin: 5px;
    }
}
