@import '../../assets/styles/variables';

.header {
    background-color: $component-bcg-color;

    &__infoWrapper {
        display: flex;
        justify-content: end;
    }

    &__langBox {
        width: 80px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    &__langBox {
        display: flex;
        padding: 5px;
        border-radius: 10px;
        justify-content: center;
        width: 170px;
        background: #F9F9F9;
        box-shadow: 0 0 9px 0 rgb(34 60 80 / 20%);
    }
}
