@import '../../assets/styles/variables';

.header {
    background-color: $component-bcg-color;

    &__infoWrapper {
        display: flex;
        justify-content: end;
    }

    &__langBox {
        width: 80px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    &__langBtn {
        margin: 0;
        padding: 0 2px;

        background-color: transparent;
        cursor: default;
        border: none;
    }

    &__langBtn:hover,
    &__langBtn:focus {
        box-shadow: none;
    }

    &__langBtn:hover svg,
    &__langBtn:focus svg {
        cursor: pointer;
    }

    &__langBox {
        display: flex;
        padding: 5px;
        border-radius: 10px;
        justify-content: center;
        width: 170px;
        background: #F9F9F9;
        box-shadow: 0 0 9px 0 rgb(34 60 80 / 20%);
    }
}
