@import '../../styles/variables.scss';

.navBar {
    display: flex;
    align-items: center;
    background: $page-bcg-color;

    &__link {
      text-decoration: none;
    }
}
.navList {
    display: flex;

    &__link {
        margin: 0 20px;
        text-decoration: none;
    }
}
