// Colors

$text-main-color: #26297D;
$primary-link-color: #6b6f82;
$active-link-color: #737df9;
$page-bcg-color: #e5e5e5;
$component-bcg-color: #fcfcff;

$btn-bg-color: #3593ff;
$btn-text-color: #ffffff;
$btnDelete-color: #ffffff;
$btnDelete-background-color: #c75858;

// Transition

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
